{% extends "base.html" %}
{% block title %}<title>学习英语</title>{% endblock %}
{% block body %}<body onpageshow="question()" onkeydown="handles_keyboard(event)">
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<ul class="nav nav-pills nav-justified">
				<li><a href="/">Home</a></li>
                <li class="active">
				<a href="/study">Study</a></li>
				<li><a href="http://www.calmkart.com/">To My Blog</a></li>
			</ul><br><br><br>
		</div>
	</div>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column" align="center">
            <h1>你正在学习： 《{{ dic_name }}》 词典</h1><br>
            <h1 id="en_word" align="center" style="color:brown;font-style:oblique;" ></h1>
		</div>
	</div>
</div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-2 column">
		</div>
		<div class="col-md-8 column">
            <textarea style="font-size:30px;color: indigo" id="cn_word" class="form-control" rows="8" readonly="readonly" onfocus="answer()">点击显示答案(或按空格/回车)</textarea>
		</div>
		<div class="col-md-2 column">
		</div>
	</div>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-2 column"></div>
        <div class="col-md-2 column">
            <button type="button" class="btn btn-primary btn-lg btn-block " onclick="gohome()" >EXIT</button>
        </div>
        <div class="col-md-4 column">
        </div>
        <div class="col-md-2 column"><!--btn-block用于让按钮填满整个格子-->
            <button type="button" class="btn btn-primary btn-lg btn-block " onclick="next()" >NEXT</button>
        </div>
    </div>
</div>

    <script>
        var cn_word;
		var num = 0;
        function question() {
                var en_list = {{ en_list|tojson }};
                var cn_list = {{ cn_list|tojson }};
                var n = en_list.length;
                var i = parseInt(n * Math.random());
                var en_word = en_list[i];
                cn_word = cn_list[i];
				num = num+1;
                document.getElementById("en_word").innerHTML=en_word+'     '+'('+num+')';
          }
          function answer(){
                document.getElementById("cn_word").innerHTML=cn_word;
          }
		  function handles_keyboard(event){
				if (event.keyCode==13 || event.keyCode==32){
					answer();
				}
				if (event.keyCode ==39){
					next();
				}
		  }
          function next() {
                document.getElementById("cn_word").innerHTML="点击显示答案(或按空格/回车)";
                question();
          }
          function gohome() {
              window.location.href="/";
          }
        </script>
    </body>
{% endblock %}
